- breadcrumb :subjects
.subjects
  list of subjects:
  - subject_items.each do |subject_item|
    .subject-item
      = subject_item.title + ':'
      %ul
        - subject_item.students.each do |student|
          %li= student.decorate.full_name
